body {
}
#menu {
    padding: 15px;
    text-align: center;
}
#menu_text {
    color: white;
    font-size: 30px;
    
}
.jumbotron {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
   
}
